
@media screen and (max-width:768px) {
    :root{
    --primary-color: #2d3e50;
    --secondary-color: #2ecc71;
    --background-color: #cdcfcf;
    --bright-color:white;

}


/* body{
    font-family:'ineter';
} */

main{
    width: 100vw;
    height: auto;
    display: grid;
    place-items: center;
    padding: 0px;
    /* background-color: red; */
}

.header-1{
    width:100%;
    height:auto;
    display: flex;
    background-color: #2ecc71;
}

.portifolio-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 20px;
    position: static;
    background-color: var(--primary-color);
    /* background-color: gray; */
}

.dev-sidebar{
    width: 100%;
    height: auto;
    gap: 20px;
    /* background-color:red; */
}

.dev-profile{
    width: 100%;
    height: auto;
    /* background-color: green; */
}

.dev-profile img{
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.dev-profile  h1{
    text-align: center;
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    /* margin-bottom: 5px; */
}

.dev-profile p{
    text-align: center;
    color: var(--background-color);
    font-size: 1em;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}

.dev-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dev-media{
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.dev-media svg{
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: rgb(241, 239, 239, 0.1);
}

.side-bar-btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top:10px;
    /* background-color: palegoldenrod; */
}

.side-bar-btn a{
    width: 50%;
    height: 40px;
    border-top: 1px solid rgb(241, 239, 239, 0.2);
    color: var(--background-color);
    font-size: 1.2em;
    /* cursor: pointer; */
    text-align: center;
    /* border-bottom: 1px solid rgb(241, 239, 239, 0.2); */


}

.side-bar-btn .btn-1{
    border-right: 1px solid rgb(241, 239, 239, 0.2);

}

.portifolio-details{
    width: 100%;
    height: auto;
    padding-right: 0px;
    /* background-color: orange; */
}

/* HEADER */
header{
    display:none;
}

/* ABOUT SECTION STARTS HERE */
#About{
    width: 100%;
    padding:0px;
}

#About h1{
    font-size: 2em;
    color:var(--bright-color);
    font-weight: 500;
}


#About p{
   color:var(--bright-color);
   font-size: 1em;
}

.about-statistics{
    display: flex;
    flex-direction: column;
    
    padding: 0 5px;
        /* background-color: palevioletred; */
}

.about-statistics .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px #090f16;
}

.about-statistics .stat h2{
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 600;
}

.stat p{
    font-size: 2rem;
}

/* SKILLS SECTION STARTS HERE */

#Skills{
    width: 100%;
    /* background-color: red; */
}

.skill-sets-container{
    width: 100%;
    /* background-color: orange; */
}

.skill-sets-container h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color:var(--bright-color);
    font-weight: 600;
}

.skill-sets-container h3{
    font-size: 1rem;
    color:var(--bright-color);
    font-weight: 600;
}

.skill-sets-container p{
    color: var(--bright-color);
}


.skill-sets{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:30px;
    /* background-color: green; */
}

.skill-set{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;  
    /* background-color: pink; */
}

/* .skill-set .skill-set-content{
    width:100%;
    height: 5px;
    background-color: white;
} */

/* .skill-set-content .desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

/* .skill-set-content .fill-cont{
    width: 100%;
    height: 5px;
    background-color:var(--bright-color);
} */

 /* .fill-cont .fill-1{
    width: 98%;
    height: 100%;
    background-color: var(--secondary-color);
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.fill-cont .fill-2{
    width: 60%;
    height: 100%;
    background-color:#f0dc2b;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.fill-cont .fill-3{
    width: 65%;
    height: 100%;
    background-color:#cc6d2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}


.fill-cont .fill-4{
    width: 22%;
    height: 100%;
    background-color:#cc2e2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.fill-cont .fill-5{
    width: 95%;
    height: 100%;
    background-color:#9dcc2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}


.fill-cont .fill-6{
    width: 72%;
    height: 100%;
    background-color:#ccbc2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.fill-cont .fill-7{
    width: 65%;
    height: 100%;
    background-color:#cc6d2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.fill-cont .fill-8{
    width: 70%;
    height: 100%;
    background-color:#ccbc2e;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.skill-set-content:hover .fill-1{
    transform: translateX(0%);
}



.fill-cont .fill-{
    width: 75%;
    height: 100%;
    background-color: rgb(151, 27, 124);
} */

#Projects{
    width:100%;
    height:auto;
    padding:20px 0;
}

/* .project-container{
    width:100%;
    height:auto;
} */

.project-container h1{
    font-size:3rem;
    color:white;
}

.project-container .projects{
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    grid-gap: 25px;
}



.projects .project{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding: 10px 20px;
    text-align:left;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    /* background-color: red; */
}

.project:hover{
    transform: scale(1.01);
}
.project img{
    width:100%;
    height: 250px;
    border-radius: 10px;
}



 .project .live-btn a{
    width: auto;
    display: flex;
    gap:5px;
    align-items: center;
    padding:10px 10PX;
    margin-top:-100px;
    border-radius:50px;
    background: var(--secondary-color);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

 .project:hover a{
    opacity: 1;
}

.project .live-btn i{
    font-size:1.5rem;
    color:white;
}

.project .live-btn p{
    font-size:1.5rem;
    color:white;
    font-weight:600;
}

 .project h2{
    width:100%;
    font-size:1.2rem;
    font-weight:600;
    color:white;

    /* background: orange; */
}

 .project p{
    width:100%;
    font-size:1rem;
    color:white;

    /* background: orange; */
}

 .project .lang{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    gap:20px;
    /* background-color: palevioletred; */
}

 .project .lang p{
    width:auto;
    height:auto;
    display:flex;
    align-items:center;
    padding: 2px 5px;
    border-radius: 50px;
    background-color: rgba(134, 134, 134, 0.5);
}


.source-code{
    width: 100%;
}
.source-code a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.source-code i{
    font-size: 1.5rem;
     color: var(--secondary-color);
}

.source-code p{
    font-size: 1rem;
     color: var(--secondary-color);
}




#Services{
    width:100%;
    height:auto;
    display:grid;
    place-items: center;
    color:white;
    padding:20px 0;
}

.services-container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-container h1{
    font-size: 2rem;
    font-weight: 600;
}

.services-container h2{
    font-size: 1.5rem;
}

.services{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:20px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    gap: 5px;
    text-align: center;
    background-color: rgb(241, 239, 239, 0.1);
}

.service i{
    font-size: 3rem;
    color:var(--secondary-color);
    background-color: white;
    padding: 10px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.service:hover i{
    background-color:var(--secondary-color); 
    color: white;
}

    
}